version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "daily"
      time: "08:00"
    allow:
      - dependency-name: "third_party/matter_sdk"
      - dependency-name: "third_party/matter_support"
    target-branch: "main"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "daily"
      time: "08:00"
    allow:
      - dependency-name: "third_party/matter_sdk"
      - dependency-name: "third_party/matter_support"
      - dependency-name: "third_party/wifi_sdk"
      - dependency-name: "third_party/simplicity_sdk"
    target-branch: "release_2.8-1.5"
