[submodule "third_party/matter_sdk"]
    path = third_party/matter_sdk
    url = https://github.com/SiliconLabsSoftware/matter_sdk.git
	branch = release_2.6-1.4
[submodule "third_party/simplicity_sdk"]
	path = third_party/simplicity_sdk
	url = https://stash.silabs.com/scm/embsw/sisdk_release.git
	branch = v2025.6.1-df1
[submodule "third_party/wifi_sdk"]
	path = third_party/wifi_sdk
	url = https://github.com/SiliconLabs/wiseconnect.git
	branch = v3.5.1-cf3
[submodule "third_party/aws_ota_sdk/ota-for-aws-iot-embedded-sdk"]
	path = third_party/aws_ota_sdk/ota-for-aws-iot-embedded-sdk
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third_party/QR-Code-generator"]
	path = third_party/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "third_party/wiseconnect-wifi-bt-sdk"]
	path = third_party/wiseconnect-wifi-bt-sdk
	url = https://github.com/SiliconLabs/wiseconnect-wifi-bt-sdk.git
[submodule "third_party/matter_support"]
	path = third_party/matter_support
	url = https://github.com/SiliconLabsSoftware/matter_support.git
	branch = release_2.6-1.4
[submodule "nlio"]
	path = third_party/nlio
	url = https://github.com/nestlabs/nlio.git
[submodule "nlassert"]
	path = third_party/nlassert
	url = https://github.com/nestlabs/nlassert.git
[submodule "third_party/matter_private"]
	path = third_party/matter_private
	url = ssh://git@stash.silabs.com/wmn_tools/matter_private.git
	branch = release_2.6-1.4
	update = none
[submodule "third_party/third_party_hw_drivers_extension"]
	path = third_party/third_party_hw_drivers_extension
	url = https://github.com/SiliconLabs/third_party_hw_drivers_extension.git
	update = none
