[submodule "third_party/matter_sdk"]
	path = third_party/matter_sdk
	url = https://github.com/SiliconLabsSoftware/matter_sdk.git
	branch = feature/packahe_manager_sqa
[submodule "third_party/QR-Code-generator"]
	path = third_party/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "third_party/matter_support"]
	path = third_party/matter_support
	url = https://github.com/SiliconLabsSoftware/matter_support.git
	branch = main
[submodule "third_party/third_party_hw_drivers_extension"]
	path = third_party/third_party_hw_drivers_extension
	url = https://github.com/SiliconLabs/third_party_hw_drivers_extension.git
	update = none
