name: Common Builder

on:
    workflow_call:
        inputs:
            json-file-path:
                required: true
                type: string
            path-to-example-app:
                required: true
                type: string
            example-app:
                required: true
                type: string
            build-type:
                required: true
                type: string
            platform:
                required: true
                type: string

jobs:
    build:
        name: ${{ inputs.platform }}-build-job
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  submodules: "true" 
            - name: Install tools
              uses: ./.github/actions/install-tools
            - name: Build ${{ inputs.example-app }}
              uses: SiliconLabsSoftware/matter_build_action@v2.0.0
              continue-on-error: ${{ inputs.build-type == 'custom-sqa' }}
              with:
                  json-file-path: ${{ inputs.json-file-path }}
                  path-to-example-app: ${{ inputs.path-to-example-app }}
                  example-app: ${{ inputs.example-app }}
                  build-script: "./slc/build.sh"
                  output-directory: " "
                  build-type: ${{ inputs.build-type }}

            - name: Create asset files
              if: startsWith(github.ref_name, 'release_')
              run: |
                  find out -type f \( -name "*.s37" -o -name "*.rps" \) | while read file; do
                      echo '<?xml version="1.0" encoding="UTF-8"?>' > "${file}.asset"
                      echo '<asset/>' >> "${file}.asset"
                      echo "Created ${file}.asset"
                  done

            - name: Upload artifacts
              uses: actions/upload-artifact@v5
              with:
                  name: ${{ inputs.example-app }}-${{inputs.platform}}-${{ inputs.build-type }}
                  path: |
                      out/*/*/artifact/**
                      ${{ inputs.build-type == 'custom-sqa' && 'out/*/*/*/artifact/**' || '' }}
                      ${{ inputs.platform == 'sixg301' && 'out/*/*/*/artifact/**' || '' }}
                      ${{ inputs.build-type != 'custom-sqa' && 'out/brd4187c/**/build/debug/*.map' || '' }}
                      ${{ inputs.build-type != 'custom-sqa' && 'out/brd4407a/**/build/debug/*.map' || '' }}
                      ${{ inputs.build-type != 'custom-sqa' && 'out/brd4338a/**/build/debug/*.map' || '' }}
                      !out/**/*-bootloader/build/debug/*.map
                      !out/**/*-copy-sources/*/build/debug/*.map
                      !out/*/*-copy-sources/artifact/**
                  if-no-files-found: warn
                  overwrite: true