name: Generate OT-RCP Binaries

on:
  workflow_dispatch:
  push:

jobs:
  build-rcp:
    runs-on: ubuntu-latest
    container: ${{ ((github.ref == 'refs/heads/main') || (github.ref == 'refs/heads/task/workflow_ot_rcp')) && 'ghcr.io/siliconlabssoftware/matter_extension_dependencies:SiSDKv2025.6.2_WiFi_SDKv3.5.2' || '' }}
    
    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: false
      
      - name: Mark repository as safe for Git
        shell: bash
        run: |
            git config --global --add safe.directory /__w/matter_extension/matter_extension
      
      - name: Checkout Simplicity SDK submodules
        run: |
          git submodule update --init --checkout third_party/simplicity_sdk

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make
          
      - name: Install tools
        uses: ./.github/actions/install-tools

      - name: Build OT-RCP binaries
        run: |
          python3 slc/script/build_ot_rcp.py

      - name: Upload OT-RCP binaries
        uses: actions/upload-artifact@v4
        with:
          name: ot-rcp-binaries
          path: out/ot-rcp_binaries.zip
          if-no-files-found: error
