name: Common Builder

on:
    workflow_call:
        inputs:
            json-file-path:
                required: true
                type: string
            path-to-example-app:
                required: true
                type: string
            example-app:
                required: true
                type: string
            build-type:
                required: true
                type: string
            platform:
                required: true
                type: string

jobs:
    build:
        name: ${{ inputs.platform }}-build-job
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/siliconlabssoftware/matter_extension_dependencies:SiSDKv2025.6.2_WiFi_SDKv3.5.2

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  submodules: "false" # Do not initialize submodules automatically

            - name: Mark repository as safe for Git
              shell: bash
              run: |
                  git config --global --add safe.directory /__w/matter_extension/matter_extension

            - name: Initialize required submodules
              shell: bash
              run: |
                  git submodule update --init \
                      third_party/aws_ota_sdk \
                      third_party/matter_sdk \
                      third_party/matter_support \
                      third_party/mbedtls \
                      third_party/mqtt \
                      third_party/nlassert \
                      third_party/nlio \
                      third_party/QR-Code-generator
                  # Skip unnecessary submodules like simplicity_sdk and wifi_sdk

            - name: Install tools
              uses: ./.github/actions/install-tools

            - name: Build ${{ inputs.example-app }}
              uses: SiliconLabsSoftware/matter_build_action@v2.0.0
              with:
                  json-file-path: ${{ inputs.json-file-path }}
                  path-to-example-app: ${{ inputs.path-to-example-app }}
                  example-app: ${{ inputs.example-app }}
                  build-script: "./slc/build.sh"
                  output-directory: " "
                  build-type: ${{ inputs.build-type }}

            - name: Create asset files
              if: startsWith(github.ref_name, 'release_') || github.ref_name == 'MATTER-4987-test-new'
              run: |
                  find out -type f \( -name "*.s37" -o -name "*.rps" \) | while read file; do
                      echo '<?xml version="1.0" encoding="UTF-8"?>' > "${file}.asset"
                      echo '<asset/>' >> "${file}.asset"
                      echo "Created ${file}.asset"
                  done

            - name: Upload artifacts
              uses: actions/upload-artifact@v5
              with:
                  name: ${{ inputs.example-app }}-${{inputs.platform}}-${{ inputs.build-type }}
                  path: |
                      out/*/*/artifact/**
                      !out/*/*-copy-sources/artifact/**
                  if-no-files-found: warn
                  overwrite: true
