name: Common Builder

on:
    workflow_call:
        inputs:
            json-file-path:
                required: true
                type: string
            path-to-example-app:
                required: true
                type: string
            example-app:
                required: true
                type: string
            build-type:
                required: true
                type: string
            platform:
                required: true
                type: string

jobs:
    build:
        name: ${{ inputs.platform }}-build-job
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  submodules: "true" 
            - name: Install tools
              uses: ./.github/actions/install-tools
            - name: Build ${{ inputs.example-app }}
              uses: SiliconLabsSoftware/matter_build_action@v2.0.0
              with:
                  json-file-path: ${{ inputs.json-file-path }}
                  path-to-example-app: ${{ inputs.path-to-example-app }}
                  example-app: ${{ inputs.example-app }}
                  build-script: "./slc/build.sh"
                  output-directory: " "
                  build-type: ${{ inputs.build-type }}

            - name: Upload artifacts
              uses: actions/upload-artifact@v5
              with:
                  name: ${{ inputs.example-app }}-${{inputs.platform}}-${{ inputs.build-type }}
                  path: |
                      out/*/*/artifact/**
                      !out/*/*-copy-sources/artifact/**
                  if-no-files-found: warn
                  overwrite: true
