name: CLA validation

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  actions: write
  contents: read 
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    uses: SiliconLabsSoftware/matter_build_action/.github/workflows/cla.yml@main
    secrets:
      CLA_APP_ID: ${{ secrets.SILABSIN_CLA_BOT_APP_ID }}
      CLA_APP_PRIVATE_KEY: ${{ secrets.SILABSIN_CLA_BOT_APP_PRIVATE_KEY }}