name: Build Dev apps

on:
    pull_request:
        branches:
            - main
            - "release_*"

    workflow_dispatch:
        inputs:
            build-type:
                description: "The build type to use"
                required: true
                type: choice
                options:
                    - standard
                    - full

concurrency:
    group: dev-build-examples-${{ github.ref }}
    cancel-in-progress: true

jobs:
    set-build-type:
        runs-on: ubuntu-latest
        outputs:
            build-type: ${{ steps.set-build-type.outputs.build-type }}
        steps:
            - name: Set build-type based on event
              id: set-build-type
              run: |
                  if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
                      echo "build-type=${{ github.event.inputs.build-type }}" >> $GITHUB_OUTPUT
                  elif [[ "${{ github.event_name }}" == "schedule" ]]; then
                      echo "build-type=full" >> $GITHUB_OUTPUT
                  elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
                      echo "build-type=standard" >> $GITHUB_OUTPUT
                  fi

    build_lighting_app:
        name: Build Lighting App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "lighting_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            trustzone-support: true

    build_air_quality_sensor_app:
        name: Build Air Quality Sensor App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "air_quality_sensor_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_light_switch_app:
        name: Build Light Switch App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "light_switch_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_lock_app:
        name: Build Lock App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "lock_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            ncp-917-support: true
            ncp-wf200-support: true

    build_thermostat:
       name: Build Thermostat App
       needs: set-build-type
       uses: ./.github/workflows/platform-builder.yaml
       with:
           example-app: "thermostat"
           build-type: ${{ needs.set-build-type.outputs.build-type }}
           ncp-917-support: true
           ncp-wf200-support: true
            
    build_window_app:
        name: Build Window App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "window_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            ncp-917-support: true

    build_fan_control_app:
        name: Build Fan Control App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "fan_control_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            ncp-917-support: true

    build_closure_app:
        name: Build Closure App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "closure_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_multi_sensor_app:
        name: Build Multi Sensor App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "multi_sensor_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_onoff_plug_app:
        name: Build OnOff Plug App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "onoff_plug_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_refrigerator_app:
        name: Build Refrigerator App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "refrigerator_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_performance_test_app:
        name: Build Performance Test App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "performance_test_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            wifi-soc-support: false

    build_zigbee_light:
       name: Build Zigbee Light App
       needs: set-build-type
       uses: ./.github/workflows/platform-builder.yaml
       with:
           example-app: "zigbee_light"
           build-type: ${{ needs.set-build-type.outputs.build-type }}
           mg24-internal-support: false
           mgm24-support: false
           mgm24-internal-support: false
           wifi-soc-support: false
 
    build_oven_app:
        name: Build Oven App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "oven_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            thread-support: false

    build_rangehood_app:
        name: Build Rangehood App
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "rangehood_app"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build_platform_template:
        name: Build Platform Template
        needs: set-build-type
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "platform_template"
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    build-series-3-bootloader:
        name: Build Series 3 Bootloader
        needs: set-build-type
        uses: ./.github/workflows/builder.yaml
        with:
            json-file-path: './.github/silabs-builds-series-3-bootloader.json'
            path-to-example-app: slc/apps/bootloaders/bootloader-storage-single-4096k-series-3/bootloader-series-3.slcw
            example-app: bootloader
            build-type: ${{ needs.set-build-type.outputs.build-type }}
            platform: series-3-bootloader

    build-sqa-tools:
        name: Build SQA Tools
        needs: set-build-type
        uses: ./.github/workflows/sqa-tools-builder.yaml
        with:
            build-type: ${{ needs.set-build-type.outputs.build-type }}

    merge-apps:
        name: Merge App Artifacts
        runs-on: ubuntu-latest
        needs:
            - set-build-type
            - build-sqa-tools
            - build_lighting_app
            - build_air_quality_sensor_app
            - build_light_switch_app
            - build_lock_app
            - build_thermostat
            - build_window_app
            - build_fan_control_app
            - build_multi_sensor_app
            - build_onoff_plug_app
            - build_refrigerator_app
            - build_performance_test_app
            - build_platform_template
            - build_zigbee_light
            - build_closure_app
            - build_oven_app
            - build_rangehood_app
            - build-series-3-bootloader
        if: success()

        steps:
            - name: Merge artifacts
              uses: actions/upload-artifact/merge@v5
              with:
                  name: "dev-artifacts-${{ needs.set-build-type.outputs.build-type }}"
                  delete-merged: true
                  pattern: "*-${{ needs.set-build-type.outputs.build-type }}"

    wait-for-test-results:
        name: Wait for Test Results
        needs: merge-apps
        uses: ./.github/workflows/sqa-sanity-tests.yaml
        secrets:
            SILABSSW_MATTER_CI_BOT_APP_PRIVATE_KEY: ${{ secrets.SILABSSW_MATTER_CI_BOT_APP_PRIVATE_KEY }}

    build-sqa-apps:
      name: Build SQA apps
      needs: wait-for-test-results
      if: ${{ startsWith(github.ref_name, 'release_') }}
      uses: ./.github/workflows/sqa-apps-builder.yaml