name: PR validity

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  check_testing_header:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'silabs-matter-ci-bot[bot]' }}
    steps:
      - name: Check for "**Testing Done:**" section in PR
        id: check-testing
        continue-on-error: true
        run: |
          cat >/tmp/pr-summary.txt << "EndMarkerForPrSummary"
          ${{ github.event.pull_request.body }}
          EndMarkerForPrSummary

          python -c 'import sys; pr_summary = open("/tmp/pr-summary.txt", "rt").read(); sys.exit(0 if "**Testing Done:**" in pr_summary else 1)'

      - name: Check for "**Description of Fix/Solution:**" section in PR
        id: check-description
        continue-on-error: true
        run: |
          cat >/tmp/pr-summary.txt << "EndMarkerForPrSummary"
          ${{ github.event.pull_request.body }}
          EndMarkerForPrSummary

          python -c 'import sys; pr_summary = open("/tmp/pr-summary.txt", "rt").read(); sys.exit(0 if "**Description of Fix/Solution:**" in pr_summary else 1)'

      - name: Check that Testing Done placeholder was replaced
        id: check-placeholder-removed
        continue-on-error: true
        run: |
          cat >/tmp/pr-summary.txt << "EndMarkerForPrSummary"
          ${{ github.event.pull_request.body }}
          EndMarkerForPrSummary

          python -c 'import sys; pr_summary = open("/tmp/pr-summary.txt", "rt").read(); sys.exit(1 if "Please replace this HTML comment with the actual information about Testing Done" in pr_summary else 0)'

      - name: Fail if "**Testing Done:**" section not in PR
        if: (steps.check-testing.outcome == 'failure') && (github.event.pull_request.user.login != 'dependabot[bot]')

        run: |
          python -c 'import sys; print("Testing section missing (test failed)"); sys.exit(1)'
      
      - name: Fail if "**Description of Fix/Solution:**" section not in PR
        if: (steps.check-description.outcome == 'failure') && (github.event.pull_request.user.login != 'dependabot[bot]')
        run: |
          python -c 'import sys; print("Description of Problem/Feature section missing (test failed)"); sys.exit(1)'

      - name: Fail if Testing Done placeholder not replaced
        if: (steps.check-placeholder-removed.outcome == 'failure') && (github.event.pull_request.user.login != 'dependabot[bot]')
        run: |
          python -c 'import sys; print("Please replace the Testing Done template comment with your actual testing information"); sys.exit(1)'
