name: Build SQA apps

on:
  workflow_call:

jobs:
    build_lock_app:
        name: Build Lock App
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "lock_app"
            build-type: "custom-sqa"
            ncp-917-support: true
            ncp-wf200-support: true
            mg24-internal-support: false
            mgm24-internal-support: false
            mg26-internal-support: false
            mgm26-internal-support: false

    build_lighting_app:
        name: Build Lighting App
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "lighting_app"
            build-type: "custom-sqa"
            mg24-internal-support: false
            mgm24-internal-support: false
            mg26-internal-support: false
            mgm26-internal-support: false

    build_window_app:
        name: Build Window App
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "window_app"
            build-type: "custom-sqa"
            mg24-support: false
            mg24-internal-support: false
            mgm24-support: false
            mg26-support: false
            mg26-internal-support: false
            mgm26-internal-support: false
            wifi-soc-support: false
            sixg301-support: false

  #  build_dishwasher_app:
  #      name: Build Dishwasher App
  #      uses: ./.github/workflows/platform-builder.yaml
  #      with:
  #          example-app: "dishwasher_app"
  #          build-type: "custom-sqa"
  #          mg24-support: false
  #          mg24-internal-support: false
  #          mgm24-support: false
  #          mgm24-internal-support: false
  #          mg26-support: false
  #          mg26-internal-support: false
  #          mgm26-internal-support: false
  #          wifi-soc-support: false
  #          sixg301-support: false

    build_thermostat:
        name: Build Thermostat
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "thermostat"
            build-type: "custom-sqa"
            mg24-support: false
            mg24-internal-support: false
            mgm24-support: false
            mgm24-internal-support: false
            mg26-support: false
            mg26-internal-support: false
            mgm26-internal-support: false
            wifi-soc-support: false
            sixg301-support: false

    build_light_switch_app:
        name: Build Light Switch App
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "light_switch_app"
            build-type: "custom-sqa"
            mg24-internal-support: false
            mgm24-support: false
            mgm24-internal-support: false
            mg26-internal-support: false
            mgm26-internal-support: false

    build_multi_sensor_app:
        name: Build Multi Sensor App
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "multi_sensor_app"
            build-type: "custom-sqa"
            mg24-internal-support: false
            mgm24-support: false
            mgm24-internal-support: false
            mg26-support: false
            mg26-internal-support: false
            mgm26-internal-support: false
            sixg301-support: false

    build_zigbee_light:
        name: Build Zigbee Light
        uses: ./.github/workflows/platform-builder.yaml
        with:
            example-app: "zigbee_light"
            build-type: "custom-sqa"
            mg24-support: false
            mg24-internal-support: false
            mgm24-support: false
            mgm24-internal-support: false
            mg26-internal-support: false
            mgm26-internal-support: false
            wifi-soc-support: false

    build_closure_app:
      name: Build Closure App
      uses: ./.github/workflows/platform-builder.yaml
      with:
        example-app: "closure_app"
        build-type: "custom-sqa"
        mg24-internal-support: false
        mgm24-support: false
        mgm24-internal-support: false
        mg26-internal-support: false
        mgm26-internal-support: false

    build_platform_template:
      name: Build Platform App
      uses: ./.github/workflows/platform-builder.yaml
      with:
        example-app: "platform_template"
        build-type: "custom-sqa"
        mg24-internal-support: false
        mgm24-support: false
        mgm24-internal-support: false
        mg26-internal-support: false
        mgm26-internal-support: false

    merge-apps:
        name: Merge SQA App Artifacts
        runs-on: ubuntu-latest
        needs:
            - build_lock_app
            - build_lighting_app
            - build_window_app
            # - build_dishwasher_app
            - build_thermostat
            - build_light_switch_app
            - build_multi_sensor_app
            - build_zigbee_light
            - build_closure_app
            - build_platform_template
        if: always()

        steps:
            - name: Merge artifacts
              uses: actions/upload-artifact/merge@v5
              with:
                  name: "sqa-artifacts"
                  delete-merged: true
                  pattern: "*-custom-sqa"