name: Version Update

on:
  workflow_dispatch:
    inputs:
      extension_version:
        description: "Extension version (e.g 2.8.0-1.5)"
        required: true
      sdk_version:
        description: "SDK version (e.g 2025.12.0)"
        required: true  
      update_readme:
        description: "Update README links"
        required: false
        default: true

jobs:
  version-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run version update
        run: |
          python3 slc/script/update_version.py ${{ inputs.extension_version }} ${{ inputs.sdk_version }} readme=${{ inputs.update_readme }}

      # Use a GitHub App token so the PR triggers downstream checks.
      - name: Generate GitHub App token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
            app-id: ${{ vars.SILABSSW_MATTER_CI_BOT_APP_ID }}
            private-key:
                ${{ secrets.SILABSSW_MATTER_CI_BOT_APP_PRIVATE_KEY }}

      - name: Mask generated token
        run: echo "::add-mask::${{ steps.generate_token.outputs.token }}"

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "Update version to ${{ inputs.extension_version }} ${{ inputs.sdk_version }}"
          title: "Update version to ${{ inputs.extension_version }} ${{ inputs.sdk_version }}"
          body: |
            This PR updates the Matter Extension and SDK versions based on the workflow inputs.
            Ran the following command to update the version:
            ```
            python3 slc/script/update_version.py ${{ inputs.extension_version }} ${{ inputs.sdk_version }} readme=${{ inputs.update_readme }}
            ```

            - Matter Extension version: `${{ inputs.extension_version }}`
            - SDK version: `${{ inputs.sdk_version }}`
            - Readme: `${{ inputs.update_readme }}`

            **User Needs to Trigger Jenkins CI**
          branch: "automation/version_update"
          base: "${{ github.ref_name }}"
          token: ${{ steps.generate_token.outputs.token }}