name: Version Update

on:
  workflow_dispatch:
    inputs:
      extension_version:
        description: "Extension version"
        required: true
        default: "0.0.0-test"
      sdk_version:
        description: "SDK version"
        required: true
        default: "0.0.0-test"
  push:
    branches:
      - main
      - update/version_update

jobs:
  version-update:
    runs-on: ubuntu-latest
    env:
      EXTENSION_VERSION: ${{ github.event.inputs.extension_version || '0.0.0-test' }}
      SDK_VERSION: ${{ github.event.inputs.sdk_version || '0.0.0-test' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Update version
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Update version
        run: |
          python3 slc/script/update_version.py ${{ env.EXTENSION_VERSION }} ${{ env.SDK_VERSION }} readme=True

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "Update version to ${{ env.EXTENSION_VERSION }} ${{ env.SDK_VERSION }}"
          title: "Update version to ${{ env.EXTENSION_VERSION }} ${{ env.SDK_VERSION }}"
          body: "Automated version update."
          branch: "version-update/${{ github.run_id }}"
          base: "${{ github.ref_name }}"